body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.menu-section {
    background-color: #F8E1DC;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    color: #BA757A;
}

.menu-section-childs {
    display: flex;
    align-items: center;
    margin: 0px 5px;
}

.menu-section-childs img {
    width: 50px;
}

.menu-section-childs p {
    font-size: 14px;
}

.category-section {
    color: #BA757A;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-section h2 {
    font-size: 18px;
}

.category-section .categories {
    width: 100%;
    display: flex;
    justify-content: center;
}

.category-section .categories div {
    width: 180px;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    margin: 0px 15px;
}

.category-section .categories div img {
    width: 75px;
}

.category-section .categories div p {
    font-weight: bold;
}

.category-section .call-to-action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.category-section .call-to-action div {
    display: flex;
    justify-content: center;
}

.category-section .call-to-action h2 {
    margin-right: 5px;
}

.category-section .call-to-action button {
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #F35B4F;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.image-text-section {
    width: 100%;
    height: 500px;
    display: flex;
    box-sizing: border-box;
}

.image-text-section .picture {
    width: 40%;
    height: 100%;
    background-image: url('img/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-text-section .picture img {
    width: 100%;
    height: 100%;
}

.image-text-section .picture-details {
    width: 60%;
    background-color: #F35B4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0px;
}

.image-text-section .picture-details button {
    background-color: #B05D5D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    width: 200px;
    cursor: pointer;
}

.image-text-section .picture-details .its-heading {
    font-size: 1.75em;
}

.image-text-section .picture-details .its-offer {

    font-size: 4.688em;
    margin: 0px;
    font-weight: bold;
}

.image-text-section .picture-details .its-price {
    font-size: 2.25em;
}

.discount-section {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.discount-section #first {
    background-image: url('img/brazalete-pandora.png') !important;
}

.discount-section #second {
    background-image: url('img/badge.png') !important;
}

.discount-section .discount-card {
    width: 450px;
    height: 200px;
    background-color: #F7E3DC;
    /* background-image: url('img/brazalete-pandora.png'); */
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.discount-section .discount-card button {
    width: 150px;
    padding: 5px 10px;
    border: none;
    background-color: #F35B4F;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.discount-card .heading {
    font-size: 18px;
    font-weight: bold;
}

.discount-card .description {
    margin: 0px;
}

.delivery-option-section {
    width: 100%;
    background-color: #EFEFF1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.delivery-option-section .option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.delivery-option-section .option img {
    width: 50px;
}

.delivery-option-section .option #transport {
    width: 65px;
}

.delivery-option-section .option p {
    text-align: center;
}

.signup-section {
    width: 100%;
    background-color: #FE6A44;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.signup-section a {
    color: rgb(255, 255, 255);
}

.signup-section .first-child {
    max-width: 500px;
    padding: 0px 10px;
    margin: 0 auto;
}

.signup-section .input-group {
    display: flex;
    justify-content: center;
}

::placeholder {
    color: white;
}

.signup-section .input-group input {
    background: none;
    border: solid 1px white;
    padding: 10px;
    color: white;
    font-size: 18px;
    margin: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.signup-section .input-group button {
    padding: 10px;
    font-size: 18px;
    border: solid 1px white;
    background-color: white;
    color: #B05D5D;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.rating-section {
    width: 100%;
    background-color: #F1F2F5;
    padding: 40px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.rating-section .heading {
    margin: 10px 0px;
    text-align: center;
}

.rating-section svg {
    fill: #FDCC0D;
    width: 1.5em;
    height: 1.2em;
}

.rating-section .images {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
}

.rating-section .images .image {
    width: 48%;
}

.rating-section .image img {
    border-radius: 10px;
    width: 100%;
    margin: 5px 0px;
}

.footer-dev {
    max-width: 1200px;
    margin: 0px auto;
    background-color: #fff;
    padding: 0px 20px;
    box-sizing: border-box;
}

.footer-sec {
    display: flex;
    justify-content: space-between;

    margin: 20px auto;
}

.footer-sec .footer-sections {
    width: 300px;
}

.footer-sec address {
    margin: 10px 0px;
}

.footer-sec .logo {
    width: 150px;
}

.footer-sec .social-icons img {
    width: 30px;
    margin: 0px 3px;
}

.footer-sec .footer-sections .about-us {
    display: flex;
    flex-direction: column;
}

.footer-sections .about-us a {
    text-decoration: none;
    color: black;
    margin: 2px 0px;
}

.footer-dev .copyright {
    margin-bottom: 0px;
    text-align: center;
}

.footer-dev .copy-icon {
    margin-top: 0px;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .footer-dev {
        width: 1000px;
    }

    .footer-sec {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .menu-section {
        flex-direction: column;
        align-items: center;
    }

    .menu-section-childs {
        margin: 5px 0px;
    }

    .category-section .categories div {
        margin: 0px 10px;
    }

    .category-section .call-to-action,
    .category-section .call-to-action div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category-section .call-to-action h2 {
        margin: 0px;
    }

    .category-section .call-to-action button {
        width: 150px;
        padding: 10px 0px;
    }


    .image-text-section {
        height: auto;
        flex-direction: column;
    }

    .image-text-section .picture {
        width: 100%;
        height: 400px;
    }

    .image-text-section .picture-details {
        width: 100%;
    }

    .image-text-section .picture-details .its-heading {
        font-size: 0.9rem;
    }

    .image-text-section .picture-details .its-offer {

        font-size: 4.2rem;
        margin: 0px;
        font-weight: bold;
    }

    .image-text-section .picture-details .its-price {
        font-size: 1.5rem;
    }

    .discount-section {
        flex-direction: column;
    }

    .discount-section .discount-card {
        width: 85%;
    }

    .delivery-option-section {
        flex-direction: column;
    }

    .delivery-option-section .option {
        flex-direction: row;
        width: 100%;
    }

    .delivery-option-section .option img {
        width: 35px;
        margin-right: 15px;
    }

    .delivery-option-section .option #transport {
        width: 50px;
    }

    .rating-section .images {
        flex-direction: column;
    }

    .rating-section .images .image {
        width: 95%;
    }

    .footer-dev {
        width: 100%;
    }

    .footer-sec {
        flex-direction: column;

    }
}