body {
    margin: 0px;
    padding: 0px;
}

.main-header,
.about-header,
.faq-header,
.prizes-header,
.footer-header {
    height: 70px;
    width: 100%;
    background: rgb(57, 28, 40);
    background: linear-gradient(90deg, rgba(57, 28, 40, 1) 0%, rgba(176, 9, 32, 1) 51%, rgba(221, 47, 34, 1) 100%);
    border-bottom: solid 2px #2c2929;
}

.header-image img {
    width: 100%;
}

.nav {
    position: absolute;
    text-align: right;
    right: 0;
    color: #B7A9BC;
    margin-right: 8rem;
}

.nav li {
    margin: 5px 20px;
    font-size: 32px;
}

.about-header,
.faq-header,
.prizes-header,
.footer-header {
    height: 50px;
    padding: 5px 25px;
}

.about-header h3 {
    color: white;
    font-weight: bold;
}

.about-me {
    background-image: url('img/about-me.png');
    display: block;
    color: white;
}

.about-me p {
    padding: 5px 25px;
}

.about-images {
    width: 280px;
    height: 400px;
}

.faq-header h3,
.prizes-header h3,
.footer-header h3 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.faq {
    background-image: url('img/faq.png');
}

.faqs {
    padding: 5px 25px;
    width: 600px;
}

.question {
    background: rgb(15, 15, 20);
    background: linear-gradient(138deg, rgba(15, 15, 20, 1) 0%, rgba(56, 57, 61, 1) 100%);
    width: 600px;
    height: 60px;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    margin-top: 10px;
}

.awenser {
    background-color: #202125;
    color: white;
    width: 600px;
    padding: 5px 25px;
}

.cq {
    cursor: pointer;
    text-align: right;
    float: right;
}

.ca {
    display: none;
}

.prizes {
    background-image: url('img/GIVEAWAY.png');
    height: 1700px;
    background-position: center;
}

.footer {
    width: 100%;
}

.footer img {
    width: 100%;
}

.top img {
    width: 250px;
}

.top :nth-child(2) {
    width: 280px;
    margin: 0px 5rem;
}

.bottom img {
    width: 320px;
}

.prize-box {
    /* background-color: red; */
    position: relative;
    top: 68rem;
}

.bottom {
    position: relative;
    bottom: 10.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom :nth-child(2) {
    margin: 0px 8rem;
}