body {
    padding: 0;
    margin: 0;
}

.blog-section {
    width: 100%;
    padding: 32px 0px;
}

.blog-section .full-width,
.blog-section .half-width {
    width: min(1000px, 90%);
    margin-inline: auto;
}

.blog-section .bs-inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bs-inner .title {
    margin: 0px;
    font-size: 40px;
    font-weight: 700;
    color: #141414;
    width: 100%;
    text-align: center;
}

.bs-inner .image {
    margin-bottom: 55px;
}

.bs-inner .image .date {
    width: 100%;
}

.bs-inner .image .date span {
    color: #748999;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    display: block;
    margin-top: 16px;
}

.bs-inner .image img {
    width: 100%;
}

.bs-inner .description {
    margin: 0px;
    font-size: 30px;
    font-weight: 600;
    color: #141414;
}

.bs-inner article {
    width: 100%;
    color: #383838;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media (max-width: 1024px) {
    .bs-inner .image {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column-reverse;
    }

    .bs-inner .image .date span {
        margin-bottom: 48px;
        margin-top: 0px;
    }
}

@media (max-width: 425px) {
    .bs-inner .title {
        font-size: 30px;
    }

    .bs-inner .description {
        font-size: 20px;
    }

    .blog-section .full-width {
        width: 100%;
    }
}